@{
    ViewData["Title"] = "CART";
}

<div class="container col-xxl-12 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-12">
            <div class="d-flex">
                <h4 class="fw-bold">MY CART</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8" id="cartItemsContainer">
            <!-- Cart items will be dynamically inserted here -->
        </div>
        <div class="col-lg-4 d-none" id="summaryContainer">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order Summary</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                            Total Items
                            <span id="totalItems">0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between border-0 align-items-center">
                            Include Tax
                            <span id="tax">0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center mt-4">
                            Total Price
                            <h6 class="fw-bold" id="totalPrice">0</h6>
                        </li>
                    </ul>
                    <button class="btn btn-primary mt-3 p-2 w-100 btn-dark">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="checkoutModal" tabindex="-1" aria-labelledby="checkoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkoutModalLabel">CHECKOUT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="checkoutDetailsContainer">
                </div>
                <div class="mt-4">
                    <h5 class="fw-bold">Shipping Option</h5>
                    <p>Fed Express</p>
                    <ul>
                        <li>UK: 5 - 10 days</li>
                        <li>USA: 7 - 14 days</li>
                        <li>Europe (outside UK): 5 - 12 days</li>
                        <li>Asia (outside Indonesia): 3 - 9 days</li>
                        <li>Australia: 5 - 10 days</li>
                    </ul>
                </div>
                <div class="d-flex justify-content-between">
                    <div>

                        <strong>Receiver</strong>
                        <p>
                            Hardin Peter (+910212997),
                            310 W Northwest Hwy, California
                            <br />
                            29530
                        </p>
                    </div>
                    <div>
                        <a href="#" class="text-dark">Change address</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark p-2" style="width:100%;">Confirm Purchase</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Cart/GetAllCartItems',
                type: 'GET',
                success: function (response) {
                    if (response && response.length > 0) {

                        var cartItemsContainer = $('#cartItemsContainer');
                        cartItemsContainer.empty();

                        var totalItems = 0;
                        var totalTax = 0;
                        var totalPrice = 0;

                        response.forEach(function (item) {
                            var subtotal = item.quantity * item.price;
                            var tax = 12250 * item.quantity;
                            totalTax += tax;
                            totalPrice += subtotal + tax;
                            var formattedPrice = parseFloat(item.price).toLocaleString('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 });
                            var formattedSubtotal = subtotal.toLocaleString('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 });

                            var cartItemHtml = `
                                                <div class="col-lg-12 mb-3 border-bottom position-relative">
                                                    <div class="row no-gutters p-3">
                                                        <div class="col-12 col-lg-4">
                                                            <img src="${item.imageUrl}" style="max-height: 200px; width: auto;" alt="Product Image">
                                                        </div>
                                                        <div class="col-12 col-lg-8">
                                                            <div class="card-body">
                                                                <h6 class="card-title fw-bold">${item.productName}</h6>
                                                                <p class="m-0">Category: ${item.productCategory}</p>
                                                                <p class="m-0">QTY: ${item.quantity}</p>
                                                                <p class="m-0 fw-bold mb-4">${formattedPrice.replace('Rp', 'Rp.').replace(/,00$/, '')}</p>
                                                                <h5 class="card-text fw-bold"><small class="me-2">SUBTOTAL:</small> ${formattedSubtotal.replace('Rp', 'Rp.').replace(/,00$/, '')}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-danger position-absolute top-0 end-0 m-2 delete-item" data-id="${item.id}">&times;</button>
                                                </div>
                                            `;
                            cartItemsContainer.append(cartItemHtml);

                            // Calculate total items
                            totalItems += item.quantity;
                        });

                        // Update summary card
                        $('#totalItems').text(totalItems);
                        $('#tax').text('Rp.' + totalTax.toLocaleString('id-ID').replace(/,00$/, ''));
                        $('#totalPrice').text('Rp.' + totalPrice.toLocaleString('id-ID').replace(/,00$/, ''));

                        $('#summaryContainer').removeClass('d-none');

                        // Add delete button functionality with SweetAlert confirmation
                        $('.delete-item').on('click', function () {
                            var itemId = $(this).data('id');
                            Swal.fire({
                                title: 'Are you sure?',
                                text: "You won't be able to revert this!",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // AJAX call to delete item from cart
                                    $.ajax({
                                        url: '/Cart/DeleteItem',
                                        type: 'POST',
                                        data: { id: itemId },
                                        success: function (response) {
                                            if (response.success) {
                                                // Reload cart items
                                                location.reload();
                                            } else {
                                                console.error(response.message);
                                            }
                                        },
                                        error: function () {
                                            console.error('Failed to delete cart item.');
                                        }
                                    });
                                }
                            });
                        });

                        // Show modal with next
                        $('#summaryContainer .btn-primary').on('click', function () {
                            var checkoutDetailsHtml = '';

                            response.forEach(function (item) {
                                var subtotal = item.quantity * item.price;
                                var formattedSubtotal = subtotal.toLocaleString('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0 });

                                checkoutDetailsHtml += `
                                    <div class="row mb-1 align-items-center">
                                        <div class="col-12 col-lg-2">
                                            <img src="${item.imageUrl}" style="max-height: 100px; width: auto;" alt="Product Image">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="card-body">
                                            <h6 class="card-title fw-bold">${item.productName}</h6>
                                                 <p class="m-0">Category: ${item.productCategory}</p>
                                                 <p class="m-0">QTY: ${item.quantity}</p>
                                                 <p class="m-0 fw-bold mb-4">${formattedSubtotal.replace('Rp', 'Rp.').replace(/,00$/, '')}</p>
                                        </div>
                                    </div>
                                    `;
                            });

                            $('#checkoutDetailsContainer').html(checkoutDetailsHtml);
                            $('#checkoutModal').modal('show');
                        });
                    } else {
                        $('#cartItemsContainer').html('<p>No items in the cart.</p>');
                    }
                },
                error: function () {
                    console.error('Failed to fetch cart items.');
                    $('#summaryContainer').css('display', 'none');
                }
            });
        });
    </script>
}
