@{
    ViewData["Title"] = "Dashboard";
}

<div class="container col-xxl-12 px-4 py-5 dashboard">
    <div class="row">
        <!-- Sidebar -->
        @await Html.PartialAsync("_DashboardLayout")


        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h5 class="fw-bold mb-3 mb-md-0">Dashboard</h5>
                <div class="input-group" style="width: 300px;">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                    <button class="btn btn-dark" type="button" id="button-search"><i class='bx bx-search-alt'></i></button>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">PRODUCT</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">PRODUCT</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">ARTICLE</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">USER</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">PRODUCT SELL</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm card-dashboard">
                        <div class="card-body">
                            <p class="text-muted fw-bold">COMPANY VALUE</p>
                            <h4 class="card-text fw-bolder">90</h4>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

<style>
   
    .card-dashboard {
    background-color: #ffffff !important;
    border: none;
    
    }
</style>