@{
    ViewData["Title"] = "About";
}

<div class="container col-xxl-12 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-12 text-center">
            <h1 class="display-5 fw-bold lh-1 mb-5">
                About
            </h1>
            <h3 class="fw-bold"> Welcome to TechWise, your ultimate destination for learning.</h3>
        </div>
        <div class="col-lg-9 col-12 mx-auto">
            <p class="text-justify">
                Learn about cutting-edge technology, programming languages, and everything related to web
                and mobile development. At TechWise, we're passionate about empowering individuals like
                you to delve into the fascinating world of technology and expand your skills to new heights.
            </p>
        </div>
        <div class="col-lg-9 col-12 mx-auto mt-4">
            <h5 class="fw-medium">Our Mission</h5>
            <p class="text-justify">
                TechWise is to provide comprehensive and insightful content that caters to both beginners
                and seasoned professionals in the field of technology. Whether you're looking to
                kickstart your career in application development or explore the
                latest trends in tech industry, TechWise is your go-to resource for valuable
                insights and knowledge.
            </p>
        </div> 
        <div class="col-lg-9 col-12 mx-auto mt-4">
            <h5 class="fw-medium">Our Mission</h5>
            <p class="text-justify">
                TechWise is to provide comprehensive and insightful content that caters to both beginners
                and seasoned professionals in the field of technology. Whether you're looking to
                kickstart your career in application development or explore the
                latest trends in tech industry, TechWise is your go-to resource for valuable
                insights and knowledge.
            </p>
        </div>
        <div class="col-lg-9 col-12 mx-auto mt-4">
            <h5 class="fw-medium">Join Our Community</h5>
            <p class="text-justify">
                Join the TechWise community and stay connected with us across various social media platforms. <br />
                <span class="fw-bold border-bottom"> Follow us</span> for the latest updates, discussions, and exclusive content:
                <div class="social-media ps-lg-3 ps-2">
                    <li class="mb-2">
                        Twitter: Follow<a href="#" class="text-decoration-none fw-bold"> TechWiseOfc</a>  for real-time updates, tech news, and insightful tweets from our team.
                    </li>
                    <li class="mb-2">
                        YouTube: Subscribe to <a href="#" class="text-decoration-none fw-bold"> TechWise Channel </a> for video tutorials, tech talks, and various tech topics.
                    </li>
                    <li class="mb-2">
                        GitHub: Explore our open-source projects, contribute, 
                        and collaborate with other developers on <a href="#" class="text-decoration-none fw-bold"> TechWise</a>.
                    </li>
                </div>
               
            </p>
        </div>
        <div class="col-lg-9 col-12 mx-auto mt-4">
            <h5 class="fw-medium">Get Started with TechWise</h5>
            <p class="text-justify">
                Ready to embark on your journey of tech discovery? Explore our blog, dive into our diverse 
                range of articles, and start expanding your knowledge and skills with TechWise. Whether you're a beginner or a seasoned professional, 
                there's always something new to learn and discover at TechWise. <span class="fw-bold"> Welcome aboard!</span>
            </p>
        </div>
        <div class="col-lg-9 col-12 mx-auto mt-4">
            <h5 class="fw-medium">Shopping with TechWise</h5>
            <p class="text-justify pb-3">
                Explore our carefully curated selection of tech gadgets, accessories, and gear to elevate your 
                digital lifestyle. Whether you're a seasoned tech enthusiast or just starting your journey, we have something for everyone.
            </p>
            <div class="text-center">
            <button class="btn btn-outline-dark rounded-0">Shop Now</button>
            </div>
        </div>
    </div>
</div>