@model BloggieWeb.Models.ViewModels.LoginViewModels
@{
}
<div class="center-screen">
    <div class="login-form">
        <h5 class="mb-3 text-center fw-bold">Forgot your password?</h5>
        <p>Enter your email to reset your password.</p>

        <form method="POST">
            <div class="mb-4">
                <input type="text" id="username" class="form-control" asp-for="Username" placeholder="Your email here" required />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="mb-4">
                <button type="submit" class="btn btn-dark w-100">Reset Password</button>
            </div>

            <input type="hidden" asp-for="ReturnUrl" />
        </form>

        <p class="text-center pt-3">Need an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Register</a> </p>
    </div>
</div>


<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh; /* Menggunakan viewport height untuk membuat form berada di tengah-tengah layar */
    }

    .login-form {
        max-width: 380px;
        width: 100%;
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>