<div class="nav-item dropdown text-end mb-3">
    <a class="dropdown-toggle-no-caret text-light btn btn-sm btn-dark rounded-0" href="#" id="filterProductBtn" role="button"
       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Product
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterProduct" id="filterProduct">
        <li><a class="dropdown-item text-dark" href="#">BEST SELLER</a></li>
        <li><a class="dropdown-item text-dark" href="#">PROMO</a></li>
        <li><a class="dropdown-item text-dark" href="#">LATEST</a></li>
        <li><a class="dropdown-item text-dark" href="#">PRICE LOW TO HIGH</a></li>
        <li><a class="dropdown-item text-dark" href="#">PRICE HIGH TO LOW</a></li>
    </ul>
</div>