@{
    ViewData["Title"] = "All Product";
}

<div class="container col-xxl-12 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-12">
            <h6 class="fw-medium lh-1">
                Shop / <span class="fw-bold">All Products</span>
            </h6>
        </div>

        <div class="col-12 col-lg-12">
            <div class="nav-item dropdown text-end mb-3">
                <a class="dropdown-toggle-no-caret text-light btn btn-sm btn-dark rounded-0" href="#" id="filterProductBtn" role="button" 
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter Product
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterProduct" id="filterProduct">
                    <li><a class="dropdown-item text-dark" href="#">BEST SELLER</a></li>
                    <li><a class="dropdown-item text-dark" href="#">PROMO</a></li>
                    <li><a class="dropdown-item text-dark" href="#">LATEST</a></li>
                    <li><a class="dropdown-item text-dark" href="#">PRICE LOW TO HIGH</a></li>
                    <li><a class="dropdown-item text-dark" href="#">PRICE HIGH TO LOW</a></li>
                </ul>
            </div>
            <div class="row  text-center mb-5">
                <div class="product col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product col-lg-4 col-md-3">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <p>product img here</p>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>