@{
    ViewData["Title"] = "Shop";
}

<div class="container col-xxl-12 px-4 pt-5">
    <div class="row align-items-center g-5 pt-5">
        <div class="col-12 col-lg-12 text-center">
            <h1 class="display-5 fw-bold lh-1 mb-1">
                TW SHOP
            </h1>
        </div>

        <div class="col-12 col-lg-12 text-center">
            <h5 class="fw-medium lh-1 mb-5">
                New Arrivals Item
            </h5>
            <div class="row mb-3">
                <div class="col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <img src="~/img/products/product1.jpg" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                            <span class="product-title mb-2">Hoodie Java</span>
                            <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <img src="~/img/products/product1.jpg" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="card product rounded-0">
                        <div class="card-body">
                            <img src="~/img/products/product1.jpg" class="img-fluid" />
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <span class="product-title mb-2">Hoodie Java</span>
                                <span class="product-price">IDR 500.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-dark rounded-0" asp-area="" asp-controller="Shop" asp-action="All">VIEW ALL PRODUCTS</a>
        </div>

    </div>
</div>