<!--using identity signInManager. added 3/3/24, 11:04 pm -->
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager;
<!--using identity signInManager. added 3/3/24, 11:04 pm -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BloggieWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BloggieWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--added 3/3/24-->
    <!--FROALA WYSIWYG-->
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <!--added 3/3/24-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css' rel='stylesheet'>

    @RenderSection("Styles", required: false)
    </head>


<body class="mb-0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top bg-white">
            <div class="container">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">LEARN2TECH</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end gap-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">READ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-no-caret text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                LEARN
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">ASP.Net</a></li>
                                <li><a class="dropdown-item" href="#">Laravel</a></li>
                                <li><a class="dropdown-item" href="#">React.Js</a></li>
                                <li><a class="dropdown-item" href="#">Angular</a></li>
                                <li><a class="dropdown-item" href="#">Flutter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Index">SHOP</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle-no-caret text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                COMMUNITY
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Frontend</a></li>
                                <li><a class="dropdown-item" href="#">Backend</a></li>
                                <li><a class="dropdown-item" href="#">Fullstack</a></li>
                                <li><a class="dropdown-item" href="#">Mobile</a></li>
                                <li><a class="dropdown-item" href="#">Web</a></li>
                                <li><a class="dropdown-item" href="#">Cloud</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="Index"><i class='bx bx-bell bx-tada bx-sm'></i></a>

                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                                    <span> @User?.Identity?.Name </span>
                                    <img src="~/img/default-uploads/avatar.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">

                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Dashboard"
                                           asp-action="Index">Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="Broadcast"
                                           asp-action="Index">Broadcast</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AdminTags"
                                           asp-action="Add">Add Tag</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AdminTags"
                                           asp-action="List">Show All Tags</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AdminBlogPosts"
                                           asp-action="Add">Add BlogPost</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AdminBlogPosts"
                                           asp-action="List">All BlogPost</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item text-dark" asp-area="" asp-controller="AdminUsers"
                                           asp-action="List">All Users</a>
                                    </li>

                                    <li class="border-top">
                                        <a class="dropdown-item text-danger" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                                    </li>
                                </ul>

                            </div>


                        }

                        else
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a>
                            @*  <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a> *@
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="m-3">
        @RenderBody()
    </main>


    <footer class="text-footer py-3">
        <ul class="nav justify-content-center pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">HOME</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">ABOUT</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">LEARN</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">SHOP</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">COMMUNITY</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-3 text-dark">INSTAGRAM</a></li>
        </ul>
        <p class="text-center text-footer-brand">© 2024 LEARN2TECH</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
